* {
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 239, 248);
    display: grid;
}

#main-doc {
    margin: 0 auto;
    width: min(90%, 70.5rem);
}

.title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    font-family: garamond;
    font-weight: 600;
}

p, li, code {
    line-height: 1.5rem;
}

li {
    margin: 0.5rem;
}

p {
    text-align: justify;
}

.nav-link {
    text-decoration: none;
    margin: 0.4rem;
    border: black solid;
    display: block;
}

.code-box {
    background-color: rgb(252, 247, 247);
    margin: 0.5rem;
    padding: 0.6rem;
    justify-self: center;
}

/* NAVIGATION BAR */

#nav-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 0.2rem solid;
}

#nav-bar > .menu > a {
    font-size: 1.3rem;
    color: black;
    margin: 0.4rem;
    background: rgba(58, 186, 224, 0.329);
    font-family: garamond;
}

.menu {
    width: 100%;
    height: 9.375rem;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
}

@media (min-width: 780px) {
    body {
        grid-template-columns: 1fr 3fr;
    }

    #nav-bar {
        position: fixed;
    }

    .menu {
       height: 69vh;
    }

    #main-doc {
        position: absolute;
        margin-left: 21rem;
        margin-top: 2rem;
    }

    #nav-bar {
        border-right: 0.2rem solid;
        border-bottom:0.2rem solid;
    }

    #nav-bar > .menu > a {
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }
}