* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

/*NAVIGATION*/

nav {
    padding: 0.5rem;
    position: fixed;
    background-color: rgba(71, 176, 241, 0.856);
    width: 100%;
}

.nav-bar {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 600px) {
    .nav-bar {
        justify-content:flex-end;
    }

    .nav-bar > ul > li {
        margin-right: 3vh;
    }
}

li {
    display: inline-flex;
    padding: 2vh;
}

ul > li > a {
    text-decoration: none;
    font-size: 4vh;
    color: white;
    letter-spacing: 0.2vh;
}

ul > li > a:hover {
    transform: scale(1.2);
}

/*ABOUT*/

.welcome {
    height: 100vh;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,41,1) 64%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


h1 {
    text-align: center;
    font-size: 10vh;
    letter-spacing: 0.6vh;
    color: white;
}

h3 {
    text-align: center;
    font-size: 5vh;
    color: rgb(141, 132, 132);
}

/*PROJECTS*/

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    
}

.box {
    background-color: cornsilk;
    width: 340px;
    height: 170px;
    margin: 2.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
}

.box > p {
    text-align: center;
    background-color: rgb(59, 58, 58);
    color: white;
    padding: 1vh;
}

.pic-project {
    width: 100%;
    height:180px;
    box-sizing: border-box;
}

.box:hover {
    transform: scale(1.2);
}

#projects {
    background-color: rgba(37, 109, 241, 0.89);
    padding-bottom: 10vh;
}

.project-desc {
    text-align: center;
    padding: 10vh;
    font-size: 5vh;
}

.project-desc > p {
    color: white; 

}

/*CONTACT*/

.contact {
    height: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(23, 15, 56);
    padding-top: 10vh;
    
}

.contact > p {
    font-size: 7vh;
    color:white;
    margin: 1.5vh;
    
}

.contact-links {
    margin-top: 2vh;
    display: grid;
}

@media screen and (min-width: 600px) {
    .contact-links {
        display: flex;
        justify-content: center;
    }
}

#profile-link {
    text-decoration: none;
    color: white;
    font-size: 5vh;
    margin: 3.8vh;
}


.icon {
    max-width: 100%;
}

.icon:hover {
    transform: scale(1.2);
}
